.searchContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.searchLeft {
    display: flex;
    margin: 15px 0 0 30px;
}

.searchLeft i {
    margin-top: 30px;
}

.searchLeft h1 {
    font-size: 40px;
    margin: 10px 0 0 45px;
    padding-left: 45px;
    border-left: 1px solid black;
    padding-top: 15px;
}

.searchLeft img {
    height: 125px;
    width: 125px;
    margin-top: -10px;
}

.searchMid {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.searchMid input {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid lightgrey;
    font-size: 22px;
    text-align: center;
    margin-right: 50px;
}

.searchRight {
    display: flex;
    justify-content: space-around;
    width: 325px;
    margin: 60px 15px 0 0;
}

